<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MMU Calendar Beautifier | About</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="icon" type="image/x-icon" href="/static/logo.png" />
    </head>
    <body>
        <img id="logo" alt="logo" src="/static/logo.png">
        <nav>
            <ul class="navigation">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/instruction">Instructions</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
            </ul>
        </nav>

        <div class="page-container">
            <h1>About MMU Calendar Beautifier</h1>
            <p>This is a tool created to help MMU students make their timetable look better when integrated into their calendars.</p>
            <p>It takes the raw calendar data provided by MMU and transforms it into a more readable format, making it easier to see your schedule at a glance.</p>
            </div>

        <iframe src="/footer" scrolling="no" frameborder="0" width="100%" height="200px"></iframe>
    </body>
</html>
