<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MMU Calendar Beautifier | Home</title>
        <link rel="stylesheet" href="/static/css/index.css" />
        <link rel="icon" type="image/x-icon" href="/static/logo.png" />
    </head>
    <body>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                let form = document.querySelector(".url-form form");
                form.addEventListener("submit", (e) => {
                    e.preventDefault();

                    // Get the URL
                    let url = form.querySelector("input[name=url]").value;

                    if (!url) {
                        return;
                    }

                    //Convert to base64
                    let base64 = btoa(url);

                    // Add div with base64 string
                    let div = document.createElement("div");
                    div.innerHTML = `<p class="output">${window.location.origin}/cal/${base64}</p>`;
                    form.parentElement.appendChild(div);

                    // Clear the form
                    form.querySelector("input[name=url]").value = "";
                });
            });
        </script>
        <img id="logo" src="/static/logo.png">
        <nav>
            <ul class="navigation">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/instruction">Instructions</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
            </ul>
        </nav>

        <div class="page-container">
            <div class="title">
                <h1>MMU Calendar Beautifier</h1>
            </div>
            <div class="url-form">
                <form action="processUrl();" method="get">
                    <input type="text" name="url" placeholder="Calendar URL" />
                    <input id="submit" type="submit" value="Beautify" />
                </form>
            </div>
            <div class="info">
                <p>
                    This tool makes the MMU calendar integration more readable. By default, the activity name is a bunch of seemingly random info that isn't going to be useful to you. This tool fixes
                    that, along with a few other things.
                </p>
                <div class="compare">
                    <div id="compare-box">
                        <div class="item">
                            <h3>Before</h3>
                            <img src="https://i.hcampbell.dev/hqx8cjnp5c.png" />
                        </div>
                        <div class="item">
                            <h3>After</h3>
                            <img src="https://i.hcampbell.dev/68q77jiz0s.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <iframe src="/footer" scrolling="no" frameborder="0" width="100%" height="200px"></iframe>
    </body>
</html>
