<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU Calendar Beautifier | Instructions</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="icon" type="image/x-icon" href="/static/logo.png" />
</head>
<body>
    <img id="logo" src="/static/logo.png">
    <nav>
        <ul class="navigation">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/instruction">Instructions</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="page-container">
        <div class="title">
            <h1>Instructions</h1>
        </div>
        <div class="instructions">
            <img src="/static/Instructions_Example/stage1.png" alt="stage1" />
            <p>Go to your MMU Timetable through the MyMMU portal.</p>
            <img src="/static/Instructions_Example/stage2.png" alt="stage2" />
            <p>In the top right corner click the <i>Connect Calendar</i> button.</p>
            <img src="/static/Instructions_Example/stage3.png" alt="stage3" />
            <p>Click the <i>Other</i> option. The other four options above
            this will allow you to get the link required aswell. These
            options will also show you how to add this link to your chosen calendar.
            However, to get the <i>Beautified</i> calander you will need to copy the link
            given and paste this in the input box on the <a href="/">Home</a> page.</p>
            <img src="/static/Instructions_Example/stage4.png" alt="stage4" />
            <p>Click the <i>Next</i> button.</p>
            <img src="/static/Instructions_Example/stage5.png"  alt="stage5"/>
            <p>Copy the link provided and paste into the input box on the <a href="/">Home</a> page.</p>
            <img src="/static/Instructions_Example/stage6.png" alt="stage6" />
            <p>Paste your link into the input box and click <i>Beautify</i>.</p>
            <img src="/static/Instructions_Example/stage7.png" alt="stage7" />
            <p>Copy the link in green box and follow the steps on the Timetable website for adding
                your timetable to your prefered calander but use the new link given in the green box.
            </p>
        </div>
    </div>
    <iframe src="/footer" scrolling="no" frameborder="0" width="100%" height="200px"></iframe>
</body>
</html>